.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
  }
  
  .header__block {
    position: relative;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @media screen and (max-width: 495px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .logoContainer {
    position: relative;
  }

  .logoLink {
    display: block;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 140px;
    width: 220px;
    height: 35px;
    opacity: 1;
    object-fit: contain;
  }
  
  .header__text {
    position: absolute;
    top: calc(50px + 35px + 15px);
    left: 140px;
    width: 327px;
    height: 20px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    font-variant-numeric: lining-nums proportional-nums;
    color: #000000;
    margin: 0;
    @media screen and (max-width: 495px) {
      display: none;
    }
  }
  
  /* .header__nav {
    max-width: 290px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .button {
    padding: 16px 26px;
    border-radius: 46px;
    background: #bcec30;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    @media screen and (max-width: 495px) {
      padding: 8px 16px;
    }
  }
  
  .header__user {
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  
    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: rotate(-45deg);
      margin: -6px 0 0 5px;
      padding: 0;
    }
    &:hover::after {
      border-left-color: #000;
      border-bottom-color: #000;
    }
  }
  
.header__userText {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  line-height: 110%;
  @media screen and (max-width: 495px) {
    display: none;
  }
}

.button {
  padding: 16px 26px;
  border-radius: 46px;
  background: #bcec30;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background: #a8d228;
}

.button:active {
  background: #95bb24;
}

.button:disabled {
  background: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}