.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.containerEnter {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal__block {
    position: absolute;
    z-index: 2;
    opacity: 1;
}

/* Стили для формы входа */
.modal__form.signin {
    width: 360px;
    height: 425px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
    
}

/* Стили для формы регистрации */
.modal__form.signup {
    width: 360px;
    height: 487px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
}
    