.workoutContainer {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 140px;
  background-color: #FAFAFA;
  min-height: 100vh;
  @media screen and (max-width: 1400px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 495px) {
    width: 100%;
    padding: 0px 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0 0;
  margin-bottom: 0;
  @media screen and (max-width: 495px) {
    padding: 20px 0 0 0;
  }
}

.userHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.userHeaderName {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}

.loading,
.error {
  padding: 40px;
  text-align: center;
  color: #000000;
}

.error {
  color: #ff0000;
}

.workoutTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  @media screen and (max-width: 495px) {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.videoBlock {
  width: 100%;
  height: 639px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoIframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.noVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
}

.videoLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 495px) {
  .videoBlock {
    height: 400px;
    margin-bottom: 24px;
  }
}
.exercisesBlock {
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  padding: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background: #fff;
  @media screen and (max-width: 495px) {
    padding: 30px;
    margin-top: 24px;
  }
}
.exercisesBlockTitle {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 110%;
  color: #000000;
}

.exercisesBlockUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 34px;
  list-style-type: none;
  @media screen and (max-width: 495px) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.exercisesBlockList {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #E0E0E0;
}

.exercisesBlockList:last-child {
  border-bottom: none;
}

.exerciseName {
  flex: 1;
}

.exerciseProgress {
  font-weight: 500;
  color: #000000;
}

.progressButton {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  padding: 16px 26px;
  background-color: #BCEC30;
  border: none;
  border-radius: 46px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start;
}

.progressButton:hover:not(:disabled) {
  background-color: #A8D028;
}

.progressButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
