/* Модальное окно */
.modal__form input:first-child {
    margin-bottom: 10px;
  }
  .modal__btnEnter:hover {
    background-color: #3f007d;
    color: #ffffff;
  }
  
  .modal__btnSignup:hover {
    background-color: #f4f5f6;
  }
  
  .modal__btnEnter:active {
    background-color: #271a58;
  }
  
  .modal__btnSignup:active {
    background-color: #d9d9d9;
  }
  
  .modal__logo {
    width: 220px;
    height: 35px;
    margin-bottom: 48px; /* изменено с 34px на 48px */
    background-color: transparent;
  }
  
  .modal__logo img {
    width: 220px;
    height: auto;
  }
  
  .modal__input {
    width: 280px;
    height: 52px;
    border: 1px solid #d0cece;
    border-radius: 8px;
    padding: 16px 18px;
    box-sizing: border-box;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
  }
  
  .modal__input.login {
    margin-bottom: 0;
  }
  
  .modal__input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
  }
  
  .modal__input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
  }
  
  .modal__input::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
  }
  
  .modal__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
  }
  
  .modal__btnEnter {
    width: 278px;
    height: 52px;
    background-color:  #BCEC30;
    border-radius: 46px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 34px;
  }
  
  .modal__btnSignup {
    width: 278px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login {
    margin-bottom: 30px;
  }
  
  .errorContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    color: red;
  }