.logoWrapper {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo img {
    width: 220px;
    height: 35px;
  }