.button {
  padding: 16px 26px;
  border-radius: 46px;
  background: #bcec30;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background: #a8d228;
}

.button:active {
  background: #95bb24;
}

.button:disabled {
  background: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}
