.button {
  padding: 16px 26px;
  border-radius: 46px;
  background: #bcec30;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover:not(:disabled) {
  background: #a8d228;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}

@media screen and (max-width: 495px) {
  .button {
    padding: 8px 16px;
    font-size: 16px;
  }
}
