.headerText {
  position: absolute;
  top: 50px;
  left: 140px;
  width: 327px;
  height: 20px;
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0px;
  font-variant-numeric: lining-nums proportional-nums;
  color: #000000;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 0;
  white-space: nowrap;
}

@media screen and (max-width: 495px) {
  .headerText {
    display: none;
  }
}
