.nav {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    top: 0;
    z-index: 1000;
  }
  
  .navContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 23px;
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
  }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .subtitle {
    font-size: 15px;
    color: #6b7280;
    opacity: 0.5;
    margin-top: 4px;
    padding-left: 4px; 
  }