.promoBanner {
  position: absolute;
  top: 70px;
  right: 170px;
  width: 288px;
  height: 120.1705322265625px;
  background: #BCEC30;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: rotate(0deg);
}

.bannerContent {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bannerTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0px;
  font-variant-numeric: lining-nums proportional-nums;
  color: #202020;
  text-align: center;
  margin: 0;
}

.polygonContainer {
  position: absolute;
  bottom: -17.585px;
  left: calc(50% - 15.12px);
  width: 30.24px;
  height: 35.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polygon {
  width: 30.24px !important;
  height: 35.17px !important;
  opacity: 1;
  object-fit: contain;
}